@import url('https://use.typekit.net/wsz4yyi.css');
// @import url('https://use.typekit.net/wsz4yyi.css');
@import url('https://use.typekit.net/wsz4yyi.css');

.header {
  grid-area: head;
  background-color: $color-main;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 6.4rem;
  width: 100%;
  z-index: 100;

  &__logo {
    height: 3.6rem;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      font-family: orpheuspro, serif;
      font-size: 4rem;
      letter-spacing: 4px;
      font-weight: 400;
      font-style: normal;
      cursor: pointer;
      @media screen and (max-width: 1020px) {
        font-size: 4rem;
      }
      @media screen and (max-width: 768px) {
        font-size: 3rem;
      }
      @media screen and (max-width: 357px) {
        font-size: 2rem;
      }
    }
  }
}
@media screen and (max-width: 1020px) {
  .menu-bar-icon {
    position: fixed;
    top: 0;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    background-color: rgba(255, 255, 255, 0.872);

    // visibility: hidden;
    // opacity: 0;

    visibility: visible;
    opacity: 1;

    transition: all 0.3s;
    z-index: 8000;
    &-container {
      height: 100%;
      width: 80%;
      background-color: rgba(255, 255, 255, 0.872);
      box-shadow: 0rem 0.7rem 3rem rgba(rgb(1, 1, 1), 0.08);
      box-shadow: 0px 0px 0px 1px rgb(0, 0, 0);
      z-index: 8010;
      display: flex;
      flex-direction: column;
      justify-content: center;
      &-search {
        flex: 0 0 5%;
        width: 100%;
        height: 100%;
        background-color: red;
      }
      &-colections {
        flex: 0 0 90%;
        width: 100%;
        height: 100%;
      
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: center;
        &-img-1,
        &-img-2,
        &-img-3,
        &-img-4,
        &-img-5{
          width: 50%;
          height: 40rem;
          display: flex;
          flex-direction: column;
          img{
            flex: 0 0 90%;
            width: 100%;
            background-image: url('/src/img/pic-3.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            padding: 1rem;

          }
          p{
            flex: 0 0 10%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.6rem;
            font-family: inherit;
            font-weight: 600;
            letter-spacing: 2px;

          }

        }
        &-img-2{
          width: 50%;
          height: 40rem;
      

        }
        &-img-3{
          width: 50%;
          height: 40rem;
      

        }
        &-img-4{
          width: 50%;
          height: 40rem;
      

        }
        &-img-5{
          width: 50%;
          height: 40rem;
       

        }
        &-img-6{
          width: 50%;
          height: 40rem;
       

        }
    
      }
      &-signin {
        flex: 0 0 5%;
        height: 100%;
        width: 100%;
        border: 2px solid red;
        padding: 1rem 4rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-content: center;

        p {
          font-size: 1.6rem;
          font-family: inherit;
          font-weight: 600;
        }
      }
    }
  }
}

.search {
  position: absolute;
  top: 10rem;
  top: 6.4rem; // BUG
  right: 0;
  left: 0;
  height: 8rem;
  height: 6.4rem; //BUG
  border-top: 0.5px solid #000;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding-left: 4rem;
  transition: all 0.3s;
  box-shadow: 0 0.7rem 3rem rgba(rgb(255, 255, 255), 0.08);

  // visibility: hidden;
  // opacity: 0;
  visibility: visible;
  opacity: 1;

  transition: all 0.5s 0.2s;

  &:focus-within {
    // transform: translateY(-2px);
    box-shadow: 0 0.7rem 3rem rgba($color-grey-dark-1, 0.08);
  }

  &__field {
    border: none;
    background: none;
    font-family: inherit;
    width: 100%;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 2px;
    font-size: 2.5rem;
    color: #000000;
    font-family: orpheuspro, serif;
    letter-spacing: 4px;
    font-weight: 400;
    font-style: normal;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: #444444;
    }

    @media only screen and (max-width: $bp-medium) {
      width: auto;

      &::placeholder {
        color: white;
      }
    }
  }

  &__btn {
    font-weight: 600;
    font-size: 4rem;
    font-family: inherit;
    color: rgba($color-grey-dark-1, 0.08);
  }
}

li button .signin .hoveruv:hover {
  .search:hover + & {
    visibility: visible;
    opacity: 1;
  }
}
.nav {
  align-self: stretch;
  margin: 0 1.5rem;
  //BUG
  @media only screen and (max-width: 550px) {
    margin-right: 0.5rem;
  }
  @media only screen and (max-width: 375px) {
    margin-right: 0rem;
  }

  &__list {
    list-style: none;
    display: flex;
    height: 100%;
  }

  &__item {
    position: relative;
  }

  &__btn {
    height: 100%;
    font-family: inherit;
    color: inherit;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 1.5rem; // BUG
    // padding-right: 1rem;
    @media only screen and (max-width: 1020px) {
      padding: 0 0.445rem;
    }
    @media only screen and (max-width: 375px) {
      padding: 0 0.145rem;
    }
    transition: all 0.3s;
    display: flex;
    align-items: center;
    span:hover {
      border-bottom: 2px solid #444444;
    }

    svg {
      height: 2.4rem;
      width: 2.4rem;
      fill: $color-primary;
      margin-right: 0.7rem;
      transform: translateY(-1px);
    }

    &:focus {
      outline: none;
    }

    &:hover {
      color: #000;
    }
  }
}

.signin:hover {
  border-bottom: 2px solid red;
  margin-bottom: -2px;
}

.bookmarks {
  padding: 1rem 0;
  position: absolute;
  // right: 0;
  right: -2.5rem;
  z-index: 9999;
  width: 40rem;
  background-color: #fff;
  box-shadow: 0 0.8rem 5rem 2rem rgba($color-grey-dark-1, 0.1);

  visibility: hidden;
  opacity: 0;
  transition: all 0.5s 0.2s;

  &__list {
    list-style: none;
  }

  &__field {
    cursor: pointer;
    padding: 0 4rem;

    display: flex;
    align-items: center;
    height: 100%;
    transition: all 0.3s;

    &:hover {
      background-color: $color-grey-light-2;
    }
  }

  &:hover,
  .nav__btn--bookmarks:hover + & {
    visibility: visible;
    opacity: 1;
  }
}

.nav-link-preview {
  border: 2px solid red;
  padding: 1rem 0;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 10;
  // margin: 0 auto;
  width: 100vw;
  height: 75vh;
  padding: 4rem 3rem;
  background-color: #fff;
  border-bottom: 2px solid #000;
  border-top: 1px solid #000;
  box-shadow: 0 0.8rem 5rem 2rem rgba($color-grey-dark-1, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @media only screen and (max-width: 1020px) {
    display: none;
  }

  visibility: visible;
  opacity: 1;
  // visibility: hidden;
  // opacity: 0;

  transition: all 0.5s 0.2s;

  &__list {
    list-style: none;
  }

  &__field {
    cursor: pointer;
    padding: 0 4rem;

    display: flex;
    align-items: center;
    height: 100%;
    transition: all 0.3s;

    &:hover {
      background-color: $color-grey-light-2;
    }
  }

  &:hover,
  .nav__btn--bookmarks:hover + & {
    visibility: visible;
    opacity: 1;
  }
}

.nav-link-preview-container-left {
  flex: 0 0 80%;
  height: 100%;
  width: 100%;
  padding: 4rem 0rem;
  background: $color-main;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.text-free {
  position: absolute;
  bottom: 0;
  color: rgb(154, 151, 151);
  font-size: 1.4rem;
  line-height: 1.6;
  text-transform: initial;
  font-weight: 400;
  letter-spacing: 2px;
  font-style: normal;
}
.nav-link-preview-container-right {
  flex: 0 0 20%;
  height: 100%;
  width: 100%;

  &-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-top,
    &-top-2,
    &-top-3,
    &-top-4 {
      flex: 0 0 70%;
      width: 100%;
      background-image: url('/src/img/pic-17.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      animation-name: move;
      animation-duration: 2s;
      animation-direction: alternate;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-play-state: running;
      animation-delay: 0.5s;
      animation-timing-function: ease-in-out;
      backface-visibility: hidden;
      transition: all 3s;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      padding-bottom: 2rem;
      box-shadow: 1rem 1.7rem 3rem rgba(rgb(1, 1, 1), 0.08);
      @media only screen and (max-width: 1700px) {
        flex: 0 0 60%;
      }
    }
    &-bottom {
      flex: 0 0 20%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin-top: 2rem;
      @media only screen and (max-width: 1700px) {
        flex: 0 0 30%;
      }
      p {
        color: #000;
        font-size: 3.8rem;
        line-height: 1.6;
        text-transform: initial;
        font-family: orpheuspro, serif;
        font-weight: 500;
        letter-spacing: 2px;
        font-style: normal;
        @media only screen and (max-width: 1700px) {
          font-size: 2.4rem;
        }
      }
    }
  }
}

.nav-link-preview-container-right-content-top .text-sale {
  font-size: 3rem;
}
@keyframes move {
  0% {
    background-image: url('/src/img/pic-17.jpg');
  }

  100% {
    background-image: url('/src/img/pic-22.jpg');
  }
}
.text-shopNow {
  background-image: url('/src/img/pic-1.jpg');
  animation-name: moveOn;
}
.nav-link-preview-container-right-content-top-2 span,
.nav-link-preview-container-right-content-top-3 span,
.nav-link-preview-container-right-content-top-4 span {
  color: rgb(255, 255, 255);
  font-size: 3.8rem;
  line-height: 1.6;
  text-transform: initial;
  font-family: orpheuspro, serif;
  font-weight: 500;
  letter-spacing: 2px;
  font-style: normal;
  @media only screen and (max-width: 1700px) {
    font-size: 2.4rem;
  }
}

@keyframes moveOn {
  0% {
    background-image: url('/src/img/pic-1.jpg');
  }

  100% {
    background-image: url('/src/img/pic-2.jpg');
  }
}
.nav-link-preview-container-right-content-top-3 {
  background-image: url('/src/img/pic-17.jpg');
  animation-name: none;
}
.nav-link-preview-container-right-content-top-4 {
  background-image: url('/src/img/pic-1.jpg');
  animation-name: none;
}

.junegull,
.junegull-a {
  font-family: charbroiled, sans-serif;
  font-size: 10vw;
  // width: 100%;
  font-weight: 400;
  color: #fe0f56;
  text-transform: uppercase;
  letter-spacing: 2px;
  transform: rotate(-15deg);
  font-style: normal;
  margin-bottom: 0rem;
  @media only screen and (max-width: 1900px) {
    font-size: 18rem;
  }
  @media only screen and (max-width: 900px) {
    font-size: 16rem;
  }
  @media only screen and (max-width: 734px) {
    font-size: 12rem;
  }
  @media only screen and (max-width: 570px) {
    font-size: 10rem;
  }
  @media only screen and (max-width: 405px) {
    font-size: 8rem;
  }
  @media only screen and (max-width: 405px) {
    font-size: 6rem;
  }
}
.sale-thiny {
  font-family: charbroiled, sans-serif;
  font-size: 4vw;
  width: 100%;
  font-weight: 400;
  color: #fe0f56;
  text-transform: uppercase;
  letter-spacing: 2px;
  transform: rotate(-12deg);
  font-style: normal;
  margin-bottom: 0.5rem;
}

.text-sale {
  font-family: inherit;
  font-size: 5.5rem;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 1rem;
}

.nav__list-preview {
  min-width: 30rem;
  width: 20%;
  //width: 100%; was before
  height: 100%;
  list-style: none;
  cursor: pointer;
  transition: all 0.2s;
  @media only screen and (max-width: 1500px) {
    min-width: 20rem;
  }
  a {
    text-decoration: none;
    color: #ca0404;
    font-size: 1.7rem;
    line-height: 1.6;
    text-transform: initial;
    font-family: orpheuspro, serif;
    font-weight: 500;
    letter-spacing: 2px;
    font-style: normal;
    margin-bottom: 1rem;
  }
}
.nav__list-preview a:hover {
  border-bottom: 2px solid #444444;
}

#nav__item-preview-title {
  font-family: orpheuspro, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.4rem;
  color: #444444;
  border-bottom: transparent;
}
.nav__item-preview {
  color: #444444;
  margin-bottom: 1rem;
}

.hidden-icons-text {
  @media screen and (max-width: 1020px) {
    display: none;
  }
}
.hidden-icons {
  @media screen and (min-width: 1020px) {
    display: none;
  }
}
