.whishlist {
  margin-top: 6.4rem; // BUG
  //  position: absolute;
  //  top: 50%;
  //  right: 50%;
  //  transform: translate(-50%, -50%);
  // position: fixed;

  // top: 0;
  // right: 0;
  // left: 0;
  // bottom: 0;
  // z-index: 9000;
  // min-width: 100vw;
  // min-height: 100%;
  // overflow-y: scroll;
  // white-space: nowrap;
  &-container {
    min-width: 100vw;
    min-height: 25rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    &-title {
      flex: 1;
      height: 100%;
      height: auto;
      min-width: 100vw;
      margin: 0 auto;
      &-content {
        min-height: 25rem;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }

      .text-main {
        margin: 3rem 0;
      }
      .text-error {
        font-size: 1.4rem;
        font-weight: 200;
        letter-spacing: 1px;
        margin-bottom: 3rem;
      }
      &-grid {
        padding: 2rem 4rem;
        min-height: 0rem;
        background-color: rgb(255, 255, 255);
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 1rem;
        align-items: center;
        border: 4px solid greenyellow;

        .img {
          // Fix size later 😃
          width: 20rem;
          height: 30rem;
        }
      }
      &-btn-black{
        padding: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        border: 2px solid red;
      }
    }
    &-info {
      min-height: 20rem;
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
    }
  }
}

// REUSABLE CONTAINER

.h4 {
  font-size: 3rem;
  line-height: 1.6;
  letter-spacing: 4px;
  color: #000;
  font-size: 36px;
  font-family: Times LT W01 Roman, Times New Roman, Times, serif;
  font-weight: 400;
  width: 65%;
}

.subscribe-form {
  height: auto;
  min-height: 30rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 4rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  @media screen and (max-width: 1020px) {
    flex-direction: column;
  }
  &-left {
    flex: 0 0 50%;
    width: 100%;
    min-height: 30rem;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 2rem;
    @media screen and (max-width: 1020px) {
      justify-content: center;
      min-height: auto;
      padding: 2rem;
      text-align: center;
    }
    p {
      color: #000;
      font-size: 1.8rem;
      line-height: 1.6;
      // text-transform: initial;
      font-family: orpheuspro, serif;
      font-weight: 500;
      letter-spacing: 2px;
      font-style: normal;
      font-size: 3.5rem;
      width: 65%;
      @media screen and (max-width: 1020px) {
        width: 75%;
      }
    }
  }
  &-right {
    padding-left: 2rem;
    width: 100%;
    min-height: 30rem;
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 2rem;
    @media screen and (max-width: 1020px) {
      align-items: center;
      min-height: auto;
      padding: 2rem;
    }
  }
}


.btn-add{
  
}